<p id="notice"><%= notice %></p>

<p>
  <b>Last name:</b>
  <%= @applicant.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @applicant.first_name %>
</p>

<p>
  <b>Course:</b>
  <%= @applicant.course %>
</p>

<p>
  <b>Grad date:</b>
  <%= @applicant.grad_date %>
</p>

<p>
  <b>Contact number:</b>
  <%= @applicant.contact_number %>
</p>

<p>
  <b>App type:</b>
  <%= @applicant.app_type %>
</p>

<p>
  <b>Email:</b>
  <%= @applicant.email %>
</p>

<p>
  <b>Start date:</b>
  <%= @applicant.start_date %>
</p>


<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
